<div class="ajm-scarlett-capture">
   <div class="ajm-capture-scroll">
    <div class="ajm-scroll row collapse ">
       <matrix-route ng-repeat="matrixRoute in matrixRoutes" class="ajm-stereo-input ajm-cell" callback="MatrixPoolCB"  initvalues="matrixRoute" ></matrix-route>
    </div>

     <div class="ajm-scroll row collapse">
        <tabset class="ajm-capture-volumes">
                <tab  ng-repeat="mixVolume in matrixMixVols" heading="{{mixVolume.name}}" actif="mixVolume.actif" select="TabSelected($index)">
                    <matrix-fader ng-repeat="volume in mixVolume.mixvol" callback="ActivateCtrlsCB" initvalues="volume" ></matrix-fader>
                </tab>
        </tabset>
    </div>
    <div class="ajm-scroll row collapse">
       <matrix-route  ng-repeat="matrixSource in matrixSources" class="ajm-stereo-input ajm-cell" callback="MatrixPoolCB" label="off" initvalues="matrixSource" ></matrix-route>
    </div>
   </div>
</div>