<div class="ajm-scarlett-capture">
    <div class="row collapse">
        <div  ng-repeat="matrixRoute in matrixRoutes">
            <matrix-route route=true callback="MatrixRoutesPoolCB"  initvalues="matrixRoute" ></matrix-route>
        </div>
    </div>

    <div id="ajm-matrix-volumes" class="row collapse">
        <tabset >
            <div  ng-repeat="mixVolume in matrixMixVols">
                <tab heading="{{mixVolume.name}}" actif="mixVolume.actif">
                    <div class="row collapse">
                        <div ng-repeat="volume in mixVolume.mixvol">
                            <matrix-fader callback="ActivateCtrlsCB" initvalues="volume" ></matrix-fader>
                        </div>
                    </div>
                </tab>
            </div>
        </tabset>
    </div>
    <div class="row collapse">
        <div ng-repeat="matrixSource in matrixSources">
            <matrix-route source=true callback="MatrixSourcesPoolCB" label="off" initvalues="matrixSource" ></matrix-route>
        </div>
    </div>
</div>