<div class="ajg-scarlett-capture">

     <div id="ajg-matrix-source-Pool" class="row collapse">
         <div ng-repeat="matrixSource in matrixSources">
             <matrix-source source=true callback="matrixSourcesPoolCB" ng-model="matrixSource"></matrix-source>
         </div>
     </div>

    <div id="ajg-matrix-volumes" class="row collapse">
      <tabset >
             <div  ng-repeat="mixVolume in matrixMixVols">
                 <tab heading="{{mixVolume.name}}" active="mixVolume.active">
                     <div class="row collapse">
                         <div ng-repeat="volume in mixVolume.stereomix">
                            <matrix-volume callback="matrixMixFaderCB" ng-model="volume"></matrix-volume>
                        </div>
                     </div>
                </tab>
             </div>
     </tabset>
    </div>
     <div id="ajg-matrix-route-pool" class="row collapse">
        <div ng-repeat="matrixRoute in matrixRoutes">
            <matrix-source route=true callback="matrixRoutesPoolCB" label="off" ng-model="matrixRoute"></matrix-source>
        </div>
    </div>
</div>