<div class="small-1 columns ajg-matrix-volume">
    <div  class="ajg-matrix-volume-balance-box">
        <div class="row collapse">
            <div class="small-6 columns">
            <knob-knob class="ajg-knob-button knob ajg-left" ng-model="leftBalanceModel"></knob-knob>
            </div>
            <div class="small-6 columns">
                <knob-knob class="ajg-knob-button knob ajg-right" ng-model="rightBalanceModel"></knob-knob>
            </div>
        </div>
        <div class="row collapse">
                <range-slider class="ajg-matrix-volume-balance radius"  formatter='BalanceSliderCB' display-target="handle"
                              ng-model="sliderBalanceModel"> </range-slider>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-6 columns ajg-matrix-volume-channel left" title="{{leftTitle}}">
            <range-slider vertical="true" class="radius" formatter='LeftSliderCB' display-target="handle"
                          ng-model="leftSliderModel"> </range-slider>
            <div class="range-slider vertical-range ajg-matrix-volume-level"></div>
        </div>

        <div class="small-6 columns ajg-matrix-volume-channel right"  title="{{rightTitle}}">
            <range-slider vertical="true" class="radius" formatter='RightSliderCB' display-target="handle"
                          ng-model="rightSliderModel" > </range-slider>
            <div class="range-slider vertical-range ajg-matrix-volume-level"></div>
        </div>
    </div>

    <div class="row collapse">
        <div class="ajg-matrix-volume-buttons-panel">
            <div class="row collapse">
                <div class="small-4 columns">
                    <span ng-click="PreFader($event,'PFLL')" class="ajg-matrix-volume-button pre-fader-listen">PFL</span>
                </div>
                <div class="small-4 columns">
                    <span ng-click="PreFader($event,'PFLM')" class="ajg-matrix-volume-button pfl-mono">&infin;</span>
                </div>
                <div class="small-4 columns">
                    <span ng-click="PreFader($event,'PFLR')" class="ajg-matrix-volume-button pre-fader-listen pfl-right">PFL</span>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span ng-click="PreFader($event,'MUTR')" class="ajg-matrix-volume-button mute-solo-listen">M</span>
                </div>
                <div class="small-3 columns">
                    <span ng-click="PreFader($event,'SOLR')" class="ajg-matrix-volume-button mute-solo-listen">S</span>
                </div>
                <div class="small-3 columns">
                    <span ng-click="PreFader($event,'MUTR')" class="ajg-matrix-volume-button mute-solo-listen">M</span>
                </div>
                <div class="small-3 columns">
                    <span ng-click="PreFader($event,'SOLR')" class="ajg-matrix-volume-button mute-solo-listen">S</span>
                </div>
            </div>

        </div>
    </div>
</div>