<!-- use ConnectMixerMod to retrieve sound cards index from gateway -->
<div class="ajm-scarlett" >
	<div class="row collapse">
		<div class="ajm-scarlett-title">
			<i class="sndcard-name" title="{{Scarlett.sndcard.info}}">{{Scarlett.sndcard.name}}</i>
			<matrix-label id="session" class="sesssion-name" title="Gateway Session Name" initvalues="Scarlett.SessionLabelName" labelpool="Scarlett.SessionLabelPool"></matrix-label>
			<i class="session-save fa fa-floppy-o" ng-click="Scarlett.SessionSave()"></i>
			<monitor-status class="sndcard-status"></monitor-status>
  	    </div>
	</div>
	<div class="row collapse">
		<div class="small-9 columns">
			<scarlett-capture initvalues="Scarlett.alsamixer" callback="Scarlett.SendAlsaCtrlsCB" />
		</div>
		<div class="small-2 columns left">
			<scarlett-master initvalues="Scarlett.alsamaster" callback="Scarlett.SendAlsaCtrlsCB" />
		</div>
	</div>
</div>
