<!-- use ConnectMixerMod to retrieve sound cards index from gateway -->
<div class="ajm-scarlett" >
	<div class="row collapse">
		<i class="ajm-scarlett-title" title="{{Scarlett.sndcard.info}}">{{Scarlett.sndcard.name}}</i>
		<ajm-monitor-status class="ajm-scarlett-status" />
	</div>
	<div class="row collapse">
		<div class="small-9 columns">
			<scarlett-capture initvalues="Scarlett.alsamixer" callback="Scarlett.SendAlsaCtrlsCB" />
		</div>
		<div class="small-2 columns left">
			<scarlett-master initvalues="Scarlett.alsamaster" callback="Scarlett.SendAlsaCtrlsCB" />
		</div>
	</div>
</div>
