<div class="small-1 columns ajm-matrix-volume">

    <div class="row collapse">
        <div ng-repeat="VolumeGroup in MixerModel">
            <div class="ajm-matrix-volume-channel left">
                <div class="ajm-matrix-volume-fader" ng-repeat="faderline in VolumeGroup">
                <range-slider vertical="true" class="radius " title="{{faderline.name}}" formatter="FaderSliderCB" callback="FaderSliderCB" inithook="SliderInit"
                              initvalues="faderline.ctrl" cbhandle="faderline.channel" disable="{{$index !== 0}}" display-target="handle"/>
                </div>
                <span ng-click="StereoMix($event,$index)" class="ajm-matrix-volume-button pfl-mono pfl-button-actif">&infin;</span>
            </div>
        </div>
    </div>

    <div class="row collapse">
        <div class="ajm-matrix-volume-buttons-panel">
            <div class="row collapse">
                <div class="small-4 columns">
                    <span ng-click="PreFader($event,'PFLL')" class="ajm-matrix-volume-button pre-fader-listen">PFL</span>
                </div>
                <div class="small-4 columns">
                    <span ng-click="PreFader($event,'PFLM')" class="ajm-matrix-volume-button pfl-mono">&infin;</span>
                </div>
                <div class="small-4 columns">
                    <span ng-click="PreFader($event,'PFLR')" class="ajm-matrix-volume-button pre-fader-listen pfl-right">PFL</span>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span ng-click="PreFader($event,'MUTR')" class="ajm-matrix-volume-button mute-solo-listen">M</span>
                </div>
                <div class="small-3 columns">
                    <span ng-click="PreFader($event,'SOLR')" class="ajm-matrix-volume-button mute-solo-listen">S</span>
                </div>
                <div class="small-3 columns">
                    <span ng-click="PreFader($event,'MUTR')" class="ajm-matrix-volume-button mute-solo-listen">M</span>
                </div>
                <div class="small-3 columns">
                    <span ng-click="PreFader($event,'SOLR')" class="ajm-matrix-volume-button mute-solo-listen">S</span>
                </div>
            </div>

        </div>
    </div>
</div>