/*----------------------------
	knobKnob Styles
-----------------------------*/

$knob-size: 1.3rem;

.knob {
	width:$knob-size;
	height:$knob-size;
	position:relative;
}

@mixin knob-active {
  background:url('../images/knob-active.png') no-repeat;
  background-size:  $knob-size $knob-size;
}

.knob .top{
	position:absolute;
	top :0;
	left:0;
	width:$knob-size;
	height:$knob-size;
	background:url('../images/knob-disable.png') no-repeat;
    background-size:  $knob-size $knob-size;
	z-index:10;
	cursor:default !important;
}

.knob :hover {
   @include knob-active;
}
.knob .top .active {
   @include knob-active;
}

.knob .base{
	width:$knob-size;
	height:$knob-size;
	border-radius:50%;
	box-shadow:0 3px 0 #4a5056,3px 3px 3px #000;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.knob .top:after{
	content:'';
	width:$knob-size/4;
	height:$knob-size/3;
	background-color:#666;
	position:absolute;
	top:5%;
    left:$knob-size/2.5;
	//left:.5rem;
	//margin-top:-5px;
	border-radius: 50%;
	cursor:default !important;
	box-shadow: 0 0 1px #5a5a5a inset;
}
